.resources__logo_n1 {
  background-image: url(../../../../images/logo/resources-n1.svg);
  background-repeat: no-repeat;
  transition: opacity .2s ease;
}

.resources__logo_n1:hover {
  opacity: 0.7;
}
